.wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100vh;
}
.top {
  background: #FAFAFA;

  &_Wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height:250px;
    &_left {

    }
    &_right {
      &_img {
        height: 250px;
        filter: grayscale(1);
      }
    }
  }
}
.middle{
  flex:1;
}
.bottom {
  height:130px;
  background:#212121;
  &_Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
  }
  &_Social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:80px;

    &_Link {
      color:white;
    }
  }
}
.jumboBold {
  font-weight:700;
  font-size:40px;
  color:#F91836;
}
.jumboRegular {
  font-size:40px;
}

.filler {
  flex:1;
}

