.Bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#FFFFFF;

  & > .Social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:80px;

    & > .Link {
      color:white;
    }
  }
}
