body {
  margin: 0px;
  background-color: #F5F5F5;
}
:root {
  --font-size : 14px;
}
.layout {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  height: calc(100vh - 20px);
  margin:10px 100px;
  background-color: #F5F5F5;

  & > .leftNav {
    width:225px;
    padding-left: 20px;
    padding-right:20px;
    overflow-y: auto;
  }
  & > .content{
    flex:1;
    overflow-y: auto;
    padding-left: 30px;
    width: 400px;
  }
}

@media only screen and (max-width: 480px) {
  .layout {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    margin: 10px 0;
    background-color: #F5F5F5;
    overflow-y: auto;
    & > .leftNav {
      width: 80%;
      margin: 0 auto;
      overflow-y: initial;
    }
    & > .content {
      width:80%;
      overflow-y: initial;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px)   {
  .layout {
    margin: 10px 0;
    & > .leftNav {
      overflow-y: initial;
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 720px) {
  .layout {
    margin: 10px 0;
    & > .leftNav {
      overflow-y: initial;
    }
  }
}

@media only screen and (min-width: 721px) and (max-width: 880px) {
  .layout {
    margin: 10px 30px;
    & > .leftNav {
      overflow-y: initial;
    }
  }
}

@media only screen and (min-width: 601px) {
  .layout {
    margin-right: 0px;
    & > .content {
      padding-right: 100px;
    }
    & > .leftNav {
      overflow-y: initial;
    }
  }
}
